:root, :root.dark{
    --background-color: #131212;
    --text-color: white;
    --gray-text-color: black;
    --info-bg-color: #1f1f20;
    --label-color: #dbdbdb;
}

:root.light{
    --background-color: #f1f9f9;
    --text-color: black;
    --gray-text-color: white;
    --info-bg-color: #efefef;
    --label-color: #3a3a3a;
}

body {
    width: 100%;
    background: var(--background-color);
    user-select: none;
    font-family: 'Trebuchet MS', sans-serif;
    position: fixed;
}

.wrapper{
    width: auto;
    margin: auto;
}

.header{
    max-width: 550px;
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-bottom: 1px solid rgb(77, 77, 77);
}

.header p{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, serif;
}

.info-button, .options-button{
    color: var(--text-color);
    margin-right: 10px;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
}

.info-button{
    margin-left: auto;
}

.input-container{
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-row{
    height:50px;
    margin-top: 7px;
    display: flex;
}

.input-row.error{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}


.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(77, 77, 77);
    color: var(--text-color);
    font-size: 35px;
    margin: 0px 2px 0px 2px;
}

input:focus{
    outline: none;
}

.first-row, .second-row, .third-row{
    text-align: center;
    height: 50px;
    margin-bottom: 8px;
}

.input-key, .input-ent, .input-del{
    background-color: #a2a2a3;
    box-shadow: 0px 3px 5px rgba(155, 155, 155, 0.226);
    border: none;
    width: 43px;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
}

.input-key:active, .input-ent:active, .input-del:active{
    position: relative;
    top: 3px;
}

.input-ent, .input-del{
    width: 68px;
}

.error-box{
    position: relative;
    width: 250px;
    height: 50px;
    background-color: rgb(214, 214, 214);
    animation: fadeOut 0.3s;
    animation-delay: 1.7s;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.error-container{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}

.instructions, .options{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 500px;
    width: 90%;
    background-color: var(--info-bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.61);
    padding: 10px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 15px;
    visibility: hidden;
    z-index: 1;
}

.instructions{
    padding-top: 35px;
}

.options-title, .instructions-title{
    position: absolute;
    margin: 0;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.close-info-button, .close-options-button{
    color: var(--text-color);
    top: 5px;
    right: 2%;
    font-size: 22px;
}

.info-button .far{
    animation: fadeIn1 0.5s ;
}

.info-button .fas{
    animation: fadeIn2 0.5s;
}

@keyframes fadeIn1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.options-button-closing{
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

.options-button-opening{
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

.instructions hr{
    height: 1.5px;
    border-width: 0;
    background-color: rgb(77, 77, 77);
}

.input-row-example{
    height:50px;
    margin-top: 7px;
    display: flex;
}

.column-option{
    min-height: 40px;
    height: auto;
    margin-top: 30px;
    padding: 5px 0px 5px 10px;
    display: flex;
    align-items: center;
}

.column-option p, .theme-option p{
    margin-block: 0px;
    margin-left: 2%;
}

#column-number{
    position: absolute;
    right: 30px;
    width: 15%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

#column-number::placeholder{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.616);
}

#column-number:focus {
    padding-bottom: 6px;
    font-weight: bold;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }

.column-option input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.theme-option{
    min-height: 40px;
    height: auto;
    padding: 2px 0px 0px 10px;
    display: flex;
    align-items: center;
}

.theme-input{
    width: 40px;
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 43px;
    top: 100px;
}

.theme-input:checked + label:before {
    transform: translateX(20px);
}

.toggle-item {
    position: absolute;
    right: 43px;
    top: 100px;
    background: transparent;
    width: 45px;
    height: 25px;
    border: 3px solid #6d6d6d;
    box-sizing: border-box;
    border-radius: 200px;
    cursor: pointer;
}
.toggle-item:before {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    border-radius: 2em;
    width: 15px;
    height: 15px;
    top: 2.4px;
    left: 2px;
    background: var(--label-color);
}

.invisible:before{
    transition: all 0s;
}

.green{
    background-color: #04aa6d;
}

.yellow{
    background-color: #e3c642;
}

.gray{
    background-color: #494949;
    color: var(--gray-text-color);
}

#result-div{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.61);
    max-width: 600px;
    width: 80%;
    visibility: hidden;
    border-radius: 10px;
    z-index: 2;
}

.result-message{
    position: relative;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    top: 15px;
    display: flex;
    justify-content: center;
}

.correct-answer{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.result-button, .close-info-button, .close-options-button{
    position: absolute;
    background-color: transparent;
    border: transparent;
}

.result-button{
    top: 3%;
    left: 95%;
    font-size: 17px;
}

.reload-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 13px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.61);
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

#test-div{
    position: absolute;
    display: flex;
    align-items: center;
    width: 350px;
    height: 600px;
    background-color: blue;
    left: 72%;
    top: 10%;
    z-index: 2;
    visibility: hidden;
}

table, td {
    border: 1px solid black;
}

@media (max-width: 524px){
    .input-key, .input-ent, .input-del{
        flex: 1;
        margin: 0px 2px 0px;
    }
    .first-row,.second-row,.third-row{
        width: 95%;
        display: flex;
    }
    .key-spacer{
        flex: 0.5;
    }
    .result-message{
        font-size: 30px;
    }
    .correct-answer{
        font-size: 16px;
    }
    .result-button{
        left: 92%;
    }
    .instructions, .options{
        transform: translate(-52%, 0);
    }
    .column-option p, .theme-option p{
        margin-left: -10px;
    }
    #column-number{
        right: 15px;
    }
    #column-number::placeholder{
        font-size: 12px;
    }
    .toggle-item, .theme-input{
        right: 5.4%;
    }
}